<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label 'Associated puzzle (this announcement will unlock when this puzzle is solved)' %><br />
    <%= select 'announcement', 'puzzle_id', Puzzle.all.map{|p| [p.puzzle_name,p.id]} %>
  </div>
  <div class="field">
    <%= f.label 'Ordering used for displaying announcements on home page. Lower numbers are higher up in list, closer to top of page' %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label 'Starts unlocked (viewable to all teams regardless of puzzles solved)' %><br />
    <%= f.check_box :starts_unlocked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
