<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= render "shared/css_link", :src => "main" %>
  <%= render "shared/css_link", :src => "fontface" %>
  <%= render "shared/js_link", :src => "jquery-1.9.1.min" %>
  <%= render "shared/js_link", :src => "rails" %>
  <%= render "shared/js_link", :src => "hackerbase" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="allContentContainer">
<%= yield %>
</div>
<% if not (yield :govt).empty? %>
<div class="govt">
  <div class="allContentContainer govtContainer">
  <div class="govtHeader">
    <div class="govtHeaderText">Department of Weapons Research</div>
  </div>
  <div class="govtWarningText">
    <h2>FIREWALL SECURITY ACCESS DATA</h2>
    <span style="color: red;">WARNING: THIS PAGE CONTAINS SENSITIVE FIREWALL DISABLING CODE DATA. DO NOT LET THIS INFORMATION LEAK TO THE OUTSIDE. THE DATA IS ENCODED BELOW.</span>
  </div>
  <hr>
  <div class="puzzleBodyContainer">
    <%= yield :govt %>
  </div>
  </div>
</div>
<% end %>
</body>
</html>
