<%= form_for(@puzzle, :html => {:autocomplete => "off"}) do |f| %>
  <% if @puzzle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@puzzle.errors.count, "error") %> prohibited this puzzle from being saved:</h2>

      <ul>
      <% @puzzle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Puzzle name: <%= f.text_field :puzzle_name %></p>
  <p>Internal puzzle name: <%= f.text_field :internal_name, :class => :internalNameField, :readonly => :readonly %></p>
  <p>Puzzle answer (all caps recommended): <%= f.text_field :answer %></p>
  <p>Puzzle body (html): </p>
  <%= f.text_area :body %>
  <p>Starts unlocked: <%= f.check_box :starts_unlocked %></p>
  <p>Neighbors to this puzzle in the unlocking graph:</p>
  <ul>
    <% @other_puzzles.each do |p| %>
    <li><%= check_box_tag ("neighbor_" + p.id.to_s), 1, (@puzzle.linked_puzzles.include? p) %>&ensp;<%= p.puzzle_name %></li>
    <% end %>
  </ul>
  <p>Color (should be one of "red", "green", "blue", or "white"): <%= f.text_field :color %></p>
  <p>XY coordinates in the unlocking graph:</p>
  <div>X: <%= f.text_field :xcoord %></div>
  <div>Y: <%= f.text_field :ycoord %></div>
  <p>Is a meta puzzle: <%= f.check_box :is_meta %></p>
  <p>Number of unlocked neighbors needed to unlock: <%= f.text_field :neighbors_needed %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render "shared/js_link", :src => "puzzlecreate" %>
