<%= render "shared/css_link", :src => "hackerstyle" %>
<script type="text/javascript">$(function(){doFadeIn();});</script>
<% title "Call-in an answer for #{@puzzle.puzzle_name}" %>
<div class="garbageContainer dim">
  <div class="garbage"></div>
  <div class="garbage"></div>
</div>
<%= link_to "Back to puzzle", puzzle_url_name(@puzzle), :class => :hacker %>
<% if @solved.nil? %>
  <h2 class="hacker">Call in an answer for <%= @puzzle.puzzle_name %></h2>
  <% if alert == :success %>
    <p class="red hacker">Successfully submitted your answer. We will call you back very soon!</p>
  <% elsif alert == :missing_info %>
    <p class="red hacker">Must enter both an answer and a valid phone number so we can call you.</p>
  <% elsif alert == :too_many %>
    <p class="red hacker">Cannot submit a new call-in yet! You must wait for us to respond to your first call-in.</p>
  <% end %>
  <%= form_for(@callin, :url => post_callin_puzzle_url_name(@puzzle), :html => {:autocomplete => "off"}) do |f| %>
    <div><span class="hacker" shows="answerfield">Answer:</span> <%= f.text_field :answer, :class => :answerfield %></div>
    <div><span class="hacker" shows="phon">Phone number, format must be XXX-XXX-XXXX:</span> <%= f.text_field :phone_num, :class => :phon %></div>
    <%= f.submit "Call in answer", :class => :phon %>
  <% end %>
<% else %>
  <h2 class="hacker">You have solved this puzzle!</h2>
  <p class="hacker">The answer was <%= @puzzle.answer %></p>
<% end %>
<p></p>
<% if @previous_callins.empty? %>
  <p class="hacker">No previous callins.</p>
<% else %>
  <table>
    <tr>
      <th class="hacker">Submitted answer</th>
      <th class="hacker">Phone number</th>
      <th class="hacker">Time submitted</th>
    </tr>
    <% @previous_callins.each do |c| %>
    <tr>
      <td class="hacker"><%= c.answer %></td>
      <td class="hacker"><%= c.phone_num %></td>
      <td class="hacker"><%= c.time_called %></td>
    </tr>
    <% end %>
  <table>
<% end %>
<div class="garbageContainer dim">
  <div class="garbage"></div>
  <div class="garbage"></div>
</div>