<h1>God interface home</h1>
<div><a href="<%= queue_url %>">Puzzle call-in submission queue</a></div>
<div><a href="<%= qqueue_url %>">Question submission queue</a></div>
<p></p>
<div><a href="<%= teams_url %>">Manage teams</a></div>
<div><a href="<%= puzzles_url %>">Manage puzzles</a></div>
<div><a href="<%= upload_url %>">Upload puzzle resource</a></div>
<div><a href="<%= announcements_url %>">Manage announcements</a></div>
<p></p>
<div><a href="<%= logout_url %>">Logout god</a></div>
<hr>
<h2>Team scoreboard</h2>
<table>
  <tr>
    <th>Team name</th>
    <th>Internal name</th>
    <th>Total number of puzzles solved</th>
    <th>Number of non-meta puzzles solved</th>
    <th>Number of meta puzzles solved</th>
    <th>Most recent puzzle solved</th>
    <th>Time of most recent solve</th>
  <tr>
  <% @teams.each do |team| %>
  <tr class="scoreboard">
    <td><%= link_to team.team_name, team_url(team.id) %></td>
    <td><%= link_to team.internal_name, team_url(team.id) %></td>
    <td><%= team.num_total_puzzles_solved %></td>
    <td><%= team.num_nonmeta_puzzles_solved %></td>
    <td><%= team.num_meta_puzzles_solved %></td>
    <td><%= n, t = team.most_recent_puzzle_solved; n %></td>
    <td><%= t %></td>
  </tr>
  <% end %>
</table>