<h1>God interface home</h1>
<div><a href="<%= queue_url %>">Puzzle call-in submission queue</a></div>
<div><a href="<%= teams_url %>">Manage teams</a></div>
<div><a href="<%= puzzles_url %>">Manage puzzles</a></div>
<div><a href="<%= upload_url %>">Upload puzzle resource</a></div>
<p></p>
<div><a href="<%= logout_url %>">Logout god</a></div>