<% @hackerstyle = true %>
<% title "C.H.A.O.S. Network Root" %>
<script type="text/javascript">$(function(){doFadeIn();});</script>

<div class="garbageContainer dim">
  <div class="garbage"></div>
  <div class="garbage"></div>
</div>
<div>
  <div class="chaosInitHeader"><h1>&lt;&lt;&lt;&lt;&lt;<span class="hacker">C.H.A.O.S. Initiative</span>&gt;&gt;&gt;&gt;&gt;</h1><h2><span class="hacker">Welcome to the C.H.A.O.S. Initiative Network Root</span></h2></div>
  <div class="controlsBox">
    <div class="hacker">Logged in as <%= @team_name %></div>
    <div class="hacker">You have X CPU priority points</div>
    <div><%= link_to "Ask a Question to HQ", ask_question_url, :class=>'hacker' %></div>
    <div><a href='/logout'  class="hacker">Logout</a></div>
  </div>
</div>
<div style="clear:both"></div>
<div class="garbageContainer dim">
  <div class="garbage"></div>
  <div class="garbage"></div>
</div>
<p class="hacker">Welcome, hackers of team &lt;&lt;&lt;<%= @team_name %>&gt;&gt;&gt;. We are C.H.A.O.S, the Coalition for Hackers Attacking Operations and Systems. The C.H.A.O.S. Initiative has already infiltrated internal data intranet servers of the U.S. Department of Weapons Research, giving us direct access to the security firewall network protecting their most sensitive data.</p>
<p class="hacker">We have also uncovered the structure of this network. Each module below represents a firewall server, a virtual security blockade that must be destroyed to unlock the next layer. We have provided all the necessary tools. Now it is your job to hack the system and let us take the P.O.N.I.E.S. from the Government's grasp.</p>
<script type="text/javascript">
var links = <%= @puzzle_links.to_json.html_safe %>;
</script>
<div id="puzzleGraphContainer">
  <% @puzzle_boxes.each do |pb| %>
  <% if pb[:unlocked] %>
  <a href="/puzzles/<%= pb[:url] %>">
    <div id="<%= pb[:id] %>" class="puzzleGraphBox<%= (pb[:ismeta] ? ' metaBox' : '') + ' ' + pb[:color] %>" style="left: <%= pb[:x] %>px; top: <%= pb[:y] %>px">
        <div class="puzzleName"><%= pb[:name] %></div>
        <% if pb[:solved] %>
        <div class="solved">SOLVED</div>
        <% end %>
    </div>
  </a>
  <% else %>
  <div id="<%= pb[:id] %>" class="puzzleGraphBox grayBox<%= pb[:ismeta] ? ' metaBox' : '' %>" style="left: <%= pb[:x] %>px; top: <%= pb[:y] %>px">
    <% if pb[:nn] > 1 %>
    <div class="smallText">(requires <%= pb[:nn] %> solved to unlock)</div>
    <% end %>
    <div class="questionMark">?</div>
  </div>
  <% end %>
  <% end %>
</div>

<div>
  <% if @announcements.length > 0 %>
    <p class="hacker">Important Announcements from C.H.A.O.S.</p>
    <% @announcements.each do |a| %>
    <h2 class="hacker"><%= a.title %></h2>
    <p class="hacker"><%= a.body %></p>
    <% end %>
  <% end %>
</div>

<%= render "shared/js_link", :src => "raphael-min" %>
<%= render "shared/js_link", :src => "graphdraw" %>