<script type="text/javascript">$(function(){doFadeIn();});</script>


<div class="garbageContainer dim">
  <div class="garbage"></div>
  <div class="garbage"></div>
</div>
<div>
  <div style="float:left"><h1>&lt;&lt;&lt;&lt;&lt;<span class="hacker">C.H.A.O.S. Initiative</span>&gt;&gt;&gt;&gt;&gt;</h1><h2><span class="hacker">Network Root</span></h2></div>
  <div style="float:right; text-align:right">
    <div class="hacker">Logged in as <%= @team_name %></div>
    <div><%= link_to "Ask a Question to HQ", ask_question_url, :class=>'hacker' %></div>
    <div><a href='/logout'  class="hacker">Logout</a></div>
  </div>
</div>
<div style="clear:both"></div>
<p class="hacker">Welcome, hackers of team &lt;&lt;&lt;<%= @team_name %>&gt;&gt;&gt;. The Chaos Initiative has infiltrated the Pentagon internal data intranet servers, giving us direct access to the security firewall network protecting their most sensitive data.</p>
<p class="hacker">Each module below represents a firewall server, a virtual security blockade that must be destroyed to unlock the next layer. We have provided all the necessary tools. Now it is your job to hack the system and retrieve the data that will free us all.</p>
<table>
<% @puzzles.each do |p| %>
<tr>
  <td><%= p.puzzle_name %></td>
  <td>
    <% if @unlocked_puzzles.include? p %>
    <%= link_to "link to puzzle", puzzle_url_name(p) %>
    <% else %>
    <b>locked</b>
    <% end %>
  </td>
  <td>
    <% if @solved_puzzles.include? p %>
    <b>solved</b>
    <% end %>
  </td>
</tr>
<% end %>
</table>